/User.class
/User$RoleEnum.class
/Coach.class
/Training.class
/Training$TypeEnum.class
/SportsFicilitiy.class
/SportsFicilitiy$ContentEnum.class
/SportsFicilitiy$TypeEnum.class
/Location.class
/TrainingHistory.class
/Customer.class
/SportsFacility$ContentEnum.class
/SportsFacility$TypeEnum.class
/SportsFacility.class
/CustomerType.class
/CustomerType$TypeEnum.class
/Manager.class
/Administrator.class
/Membership.class
/Membership$TypeEnum.class
/Commentar.class
/CheckedTraining.class
