@charset "ISO-8859-1";
@import 'bootstrap/dist/css/bootstrap.min.css';

.navbar-collapse{
    justify-content: flex-end;
}

.custombg {
    background: rgb(27,27,27) url('../img/aaa.jpg');
    background-size: cover;
}

.card{
    border: none;
}

.card-body{
    background: rgb(36, 36, 36);
}

.card-img, .card-img-top{
    object-fit: top;
    aspect-ratio: 1/.7;
}